<%- include ('../../partials/header.ejs') %>
<div class="menu d-flex justify-content-center align-items-center">
    <a href="" class="btn btn-lg cta">Anuncie conosco!</a>
</div>
<div id="carouselExampleIndicators" class="carousel slide x-3 mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active h-100">
            <div class="d-flex h-100 w-100">
                <div class="col-6 justify-content-start align-items-center mb-2 ps-2">
                    <h3 class="text-white">Empresa</h3>
                    <h4 class="text-white">Descrição</h4>
                    <a href="" class="btn cta btn-shadow mt-3">Contratar</a>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center mb-2 pe-lg-3 pe-1">
                    <img src="https://img.freepik.com/vetores-premium/design-de-logotipo-premium_852644-414.jpg" alt="" class="img-ads">
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class="d-flex h-100 w-100">
                <div class="col-6 justify-content-start align-items-center mb-2 ps-2">
                    <h3 class="text-white">Empresa</h3>
                    <h4 class="text-white">Descrição</h4>
                    <a href="" class="btn cta btn-shadow mt-3">Contratar</a>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center mb-2 pe-3">
                    <img src="" alt="" class="img-ads" height="100px" width="100px">
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class="d-flex h-100 w-100">
                <div class="col-6 justify-content-start align-items-center mb-2 ps-2">
                    <h3 class="text-white">Empresa</h3>
                    <h4 class="text-white">Descrição</h4>
                    <a href="" class="btn cta btn-shadow mt-3">Contratar</a>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center mb-2 pe-3">
                    <img src="" alt="" class="img-ads" height="100px" width="100px">
                </div>
            </div>
        </div>
    </div>
</div>
<form class="d-flex x-3 mt-4 bg-body-tertiary" role="search">
    <input class="form-control form-control-lg" type="text" placeholder="Pesquise por uma área..." aria-label="Search">
</form>
<div class="row align-items-center x-3">
    <h2 class="p-0 m-0 mt-4 mb-2">Categorias</h2>
</div>

<div class="row g-3 x-3">
    <a href="#" class=" col-lg-4 col-sm-6 col-12 ps-0 pe-0 pe-sm-2 custom-card">
        <div class="d-flex p-3 children-card">
            <div class="d-flex col-6 col-lg-3 justify-content-center align-items-center">
                <img src="" alt="" width="50px" height="50px">
            </div>
            <div class="ms-2 col-6 col-lg-9 text-start">
                <h3 class="col-12 p-0 m-0">Pintor</h3>
                <h6 class="col-12  p-0 m-0">10 opções</h6>
            </div>
        </div>
    </a>
    <a href="#" class=" col-lg-4 col-sm-6 col-12 ps-0 pe-0 pe-sm-2 custom-card">
        <div class="d-flex p-3 children-card">
            <div class="d-flex col-6 col-lg-3 justify-content-center align-items-center">
                <img src="" alt="" width="50px" height="50px">
            </div>
            <div class="ms-2 col-6 col-lg-9 text-start">
                <h3 class="col-12 p-0 m-0">Pintor</h3>
                <h6 class="col-12  p-0 m-0">10 opções</h6>
            </div>
        </div>
    </a>
    <a href="#" class=" col-lg-4 col-sm-6 col-12 ps-0 pe-0 pe-sm-2 custom-card">
        <div class="d-flex p-3 children-card">
            <div class="d-flex col-6 col-lg-3 justify-content-center align-items-center">
                <img src="" alt="" width="50px" height="50px">
            </div>
            <div class="ms-2 col-6 col-lg-9 text-start">
                <h3 class="col-12 p-0 m-0">Pintor</h3>
                <h6 class="col-12  p-0 m-0">10 opções</h6>
            </div>
        </div>
    </a>
</div>

<%- include ('../../partials/page-footer.ejs') %>





<%- include ('../../partials/footer.ejs') %>
