<%- include ('../../partials/header.ejs') %>
<div class="menu d-flex justify-content-start align-items-center">
    <div class=" mx-5 col-6 overlay">
        <h1 class="text-white mb-4"> Seja bem-vindo(a)!</h1>
        <h4 class="text-white mb-4">Está é uma plataforma</h4>
        <a href="" class="btn btn-lg cta btn-shadow">Anuncie conosco!</a>
    </div>
    <div class="bg-fill"></div>
</div>
<div id="carouselExampleIndicators" class="carousel slide mx-5 mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active h-100">
            <div class="d-flex h-100 w-100">
                <div class="col-6 justify-content-start align-items-center mb-2 ps-2">
                    <h3 class="text-white">Empresa</h3>
                    <h4 class="text-white">Descrição</h4>
                    <a href="" class="btn cta btn-shadow mt-3">Contratar</a>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center mb-2 pe-lg-3 pe-1">
                    <img src="https://img.freepik.com/vetores-premium/design-de-logotipo-premium_852644-414.jpg" alt="" class="img-ads">
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class="d-flex h-100 w-100">
                <div class="col-6 justify-content-start align-items-center mb-2 ps-2">
                    <h3 class="text-white">Empresa</h3>
                    <h4 class="text-white">Descrição</h4>
                    <a href="" class="btn cta btn-shadow mt-3">Contratar</a>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center mb-2 pe-lg-3 pe-1">
                    <img src="https://img.freepik.com/vetores-premium/design-de-logotipo-premium_852644-414.jpg" alt="" class="img-ads">
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class="d-flex h-100 w-100">
                <div class="col-6 justify-content-start align-items-center mb-2 ps-2">
                    <h3 class="text-white">Empresa</h3>
                    <h4 class="text-white">Descrição</h4>
                    <a href="" class="btn cta btn-shadow mt-3">Contratar</a>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center mb-2 pe-lg-3 pe-1">
                    <img src="https://img.freepik.com/vetores-premium/design-de-logotipo-premium_852644-414.jpg" alt="" class="img-ads">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="input-box col-12 mx-5 mt-4">
    <i class="bi bi-search icon"></i>
    <input type="text" placeholder="Pesquise aqui...">
    <button class="search-btn btn btn-lg cta">Te achei!</button>
</div>

<div class="row align-items-center mx-5">
    <h2 class="p-0 m-0 mt-4 mb-2">Categorias</h2>
</div>

<div class="wrapper mx-5">
    <i id="left" class="bi bi-caret-left-fill overlay"></i>
    <div class="infinit-carousel">
      <div class="card">Card 1</div>
      <div class="card">Card 2</div>
      <div class="card">Card 3</div>
      <div class="card">Card 4</div>
      <div class="card">Card 5</div>
      <div class="card">Card 6</div>
    </div>
   <i id="right" class="bi bi-caret-right-fill overlay"></i>
</div>






<%- include ('../../partials/page-footer.ejs') %>





<%- include ('../../partials/footer.ejs') %>
